extends navbarAdmin

block content
    .container
        .card.mx-auto.rounded.border-secondary
            h5.card-header.text-capitalize.bg-danger.text-white
                | Docentes #{tipoDocente}
            .card-body
                .table-responsive#contenido
                    table.table.table-bordered.table-hover
                        thead.thead-light.text-capitalize
                            tr
                                th Nombre
                                th Categoria
                                th Dedicación
                                th CV
                                th Modificar
                        tbody
                            for docente in docentes
                                tr
                                    th #{docente.nombre}
                                    th #{docente.categoria}
                                    th #{docente.dedicacion}
                                    th #{docente.cv}
                                    th: a(href="http://", target="_blank", rel="noopener noreferrer") modificar datos
    script(src="/javascripts/jquery-3.3.1.min.js")