extends navbarAdmin

block content
    - function addZero(i) { if (i < 10) { i = '0' + i; } return i; }
    - function fecha(i){ if (i != null) { var dd = i.getDate(); var mm = i.getMonth()+1; var yyyy = i.getFullYear(); dd = addZero(dd); mm = addZero(mm); return yyyy+'-'+mm+'-'+dd; }else { return i;} }
    .container
        .card.mx-auto.rounded.border-secondary
            h5.card-header.text-capitalize.bg-danger.text-white
                | Proyectos #{anoProyecto}
            .card-body
                .table-responsive#contenido
                    table#tabla.table.table-bordered.table-hover
                        thead.thead-light.text-capitalize
                            tr
                                th.none.align-middle Código
                                th.none.align-middle Título Del Proyecto
                                th.none.align-middle Estado Del Proyecto
                                th.none.align-middle Nombre
                                th.none.align-middle status
                                th.none.align-middle fecha
                                th.none.align-middle Descargar
                                th.none.align-middle Aprobar
                            tr
                                th(colspan="8")
                                    input#buscar.form-control.mr-sm-2(type='text', placeholder='Buscar')
                        tbody.text-capitalize
                            for proyecto in proyectos
                                tr
                                    th.align-middle.none #{proyecto.codigo}
                                    td.align-middle.none #{proyecto.titulo}
                                    if proyecto.enviado == 1
                                        td.align-middle.none Terminado
                                    else
                                        td.align-middle.none En Proceso
                                    td.align-middle.none #{proyecto.nombre}
                                    if (proyecto.status == 0)
                                        td.align-middle.none Profesor
                                    else if (proyecto.status == 1)
                                        td.align-middle.none Estudiante
                                    else if (proyecto.status == 2)
                                        td.align-middle.none Egresado
                                    else if (proyecto.status == 3)
                                        td.align-middle.none Invg. Externo
                                    td.align-middle.none #{fecha(proyecto.fecha)}
                                    td.align-middle.none 
                                        form(action="/userAdmin/visualizar", method="post") 
                                            input(type="hidden", name="id_proyecto" value=proyecto.codigo) 
                                            input(type="hidden", name="id_usuario" value=proyecto.id_usuario)
                                            input.btn.btn-primary(type="submit" value="Visualizar") 
                                    td.align-middle.none
                                        if (proyecto.aprobado == 1)
                                            form(action="/userAdmin/aprobar", method="post") 
                                                input(type="hidden", name="id_proyecto" value=proyecto.codigo) 
                                                input(type="hidden", name="aprobacion" value="0")
                                                input.btn.btn-danger(type="submit" value="No aprobar")
                                        else
                                            form(action="/userAdmin/aprobar", method="post") 
                                                input(type="hidden", name="id_proyecto" value=proyecto.codigo) 
                                                input(type="hidden", name="aprobacion" value="1")
                                                input.btn.btn-primary(type="submit" value="Aprobar")

    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/main.js")