extends navbarAdmin

block content
    - function addZero(i) { if (i < 10) { i = '0' + i; } return i; }
    - function fecha(i){ if (i != null) { var dd = i.getDate(); var mm = i.getMonth()+1; var yyyy = i.getFullYear(); dd = addZero(dd); mm = addZero(mm); return yyyy+'-'+mm+'-'+dd; }else { return i;} }
    .container
        .card.mx-auto.rounded.border-secondary
            h5.card-header.text-capitalize.bg-danger.text-white
                | Proyectos #{anoProyecto}
            .card-body
                .table-responsive#contenido
                    table.table.table-bordered.table-hover
                        thead.thead-light.text-capitalize
                            tr
                                th Código
                                th Título Del Proyecto
                                th Nombre
                                th status
                                th fecha
                                th Descargar
                        tbody
                            for proyecto in proyectos
                                tr
                                    th #{proyecto.codigo}
                                    th #{proyecto.titulo}
                                    th #{proyecto.nombre}
                                    if (proyecto.status == 0)
                                        th Profesor
                                    else if (proyecto.status == 1)
                                        th Estudiante
                                    else if (proyecto.status == 2)
                                        th Egresado
                                    else if (proyecto.status == 3)
                                        th Invg. Externo
                                    th #{fecha(proyecto.fecha)}
                                    th #{proyecto.descarga}
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/valida.js")