doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    title #{title}
  body
    - function addZero(i) { if (i < 10) { i = '0' + i; } return i; }
    - function fecha(i){ if (i != null) { var dd = i.getDate(); var mm = i.getMonth()+1; var yyyy = i.getFullYear(); dd = addZero(dd); mm = addZero(mm); return yyyy+'-'+mm+'-'+dd; }else { return i;} }
    
    .container
        img(src="/images/port.jpg", alt="portada", srcset="")
        hr
        .card.mx-auto.rounded.border-secondary
            h5.card-header.text-capitalize.bg-danger.text-white
                | Proyectos #{anoProyecto}
            .card-body
                .table-responsive#contenido
                    table.table.table-bordered.table-hover
                        thead.thead-light.text-capitalize
                            tr
                                th.none.align-middle Código
                                th.none.align-middle Título Del Proyecto
                                th.none.align-middle Estado Del Proyecto
                                th.none.align-middle Nombre Del Proyectista
                                th.none.align-middle status Del Proyectista
                                th.none.align-middle Fecha 
                                th.none.align-middle Descargar
                        tbody.text-capitalize
                            for proyecto in proyectos
                                tr
                                    th.align-middle #{proyecto.codigo}
                                    td.align-middle #{proyecto.titulo}
                                    if proyecto.enviado == 1
                                        td.align-middle Terminado
                                    else
                                        td.align-middle En Proceso
                                    td.align-middle #{proyecto.nombre}
                                    if (proyecto.status == 0)
                                        td.align-middle Profesor
                                    else if (proyecto.status == 1)
                                        td.align-middle Estudiante
                                    else if (proyecto.status == 2)
                                        td.align-middle Egresado
                                    else if (proyecto.status == 3)
                                        td.align-middle Invg. Externo
                                    td.align-middle #{fecha(proyecto.fecha)}
                                    td.align-middle 
                                        form(action="/public/visualizar", method="post") 
                                            input(type="hidden", name="id_proyecto" value=proyecto.codigo) 
                                            input(type="hidden", name="id_usuario" value=proyecto.id_usuario)
                                            input.btn.btn-primary(type="submit" value="Visualizar") 
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/valida.js")